@import '../../styles.scss';

.menu-spacer {
    flex: 1 1 auto;
}
  
mat-toolbar {
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: #D295FD;
    
    .container {
        display: flex;
        width: 80%;
        margin: auto;
        .myIcon {
            width: 25px;
            height: 25px;
            padding-right: 10px;
        }

        h1 {
            font-family: $font-style-primary;
            font-weight: 600;
        }

        button {
            &:hover {
                background-color: #D295FD;
                color: $color-white;
            }
        }
    }
}