<div class="container">
    <h1> Olá {{ nome + " " + sobrenome }}!</h1>
    <!-- <h2>{{ data | date : 'dd    /MM/YYYY' }}</h2> -->
    <section id="imoveis-favoritos">
        <h2>Confira aqui os seus imóveis favoritos:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <div *ngFor="let imovel of imoveis">
                <mat-grid-tile *ngIf="imovel.favorito">
                    <mat-card>
                        <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                        <mat-card-content>
                            <h3>{{ imovel.titulo }}</h3>
                            <ul>
                                <li>Quartos: {{ imovel.quartos }}</li>
                                <li>Banheiros: {{ imovel.banheiros }}</li>
                                <li>Metragem: {{ imovel.area }} m²</li>
                                <li>Preço: {{ imovel.preco | currency }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button
                                [class]="imovel.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="imovel.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button
                                (click)="toogleFavorito(imovel.id)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                            <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <section id="lista-imoveis">
        <h2>Todos os imoveis:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <mat-grid-tile *ngFor="let imovel of imoveis">
                <mat-card>
                    <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                    <mat-card-content>
                        <h3>{{ imovel.titulo }}</h3>
                        <ul>
                            <li>Quartos: {{ imovel.quartos }}</li>
                            <li>Banheiros: {{ imovel.banheiros }}</li>
                            <li>Metragem: {{ imovel.area }} m²</li>
                            <li>Preço: {{ imovel.preco | currency }}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                            [class]="imovel.favorito === false ? 'favorite' : 'favorite-checked'"
                            [title]="imovel.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                            mat-button
                            (click)="toogleFavorito(imovel.id)">
                            <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                        </button> 
                        <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>