

/* ~~~~~~~~~~~~~~~~~~~~~~~ MY CARDS: LEFT  ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-fluid  .container .my-card-home {
    background-color: var(--white-background-color);
    width: 280px;
    height: 720px;
    border-radius: 16px;
    border-radius: 16px;
    padding-top: 30px;
    text-align: center;
    padding: 20px;
}

.container-fluid  .container .my-card-home .header-card h2{
    color: var(--title-font-color);
    font: 500;
    margin-top: 10px;
    font-size: 24px;
}

.container-fluid  .container .my-card-home .header-card p{
    color: var(--title-font-color);
    font-weight: 400;
    margin-top: 5px;
    font-size: 18px;
}

.container-fluid  .container .my-card-home .header-card .status{
    display: inline-block;
}

.container-fluid  .container .my-card-home .header-card .emoji{
    background-color: #03C988;
    border-radius: 100%;
    width: 20px;
    height:20px;
    margin-left: 5px;
    display: inline-block;
}

.container-fluid  .container .my-card-home .header-card .image-container img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.container-fluid  .container .my-card-home .header-card .image-container {
    position: relative;
    display: inline-block;
  }

.container-fluid  .container .my-card-home .header-card .image-container .status {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(121, 242, 117); /* Cor da bolinha de status */
    border-radius: 50%;
    bottom: 5px;
    right: 30px;
}

.container-fluid  .container .my-card-home .header-card {
    margin-top: 30px;
    text-align: center;
}

.container-fluid  .container .my-card-home .container-card {
    width: 100%;
    margin-top: 30px;
    align-self: flex-start;
    text-align: left;
}

.container-fluid  .container .my-card-home .container-card .my-card-pages {
    margin-top: 10px;
}

.container-fluid  .container .my-card-home .container-card .my-card-pages a {
    color: var(--title-font-color);
    text-decoration: none;
}

a:hover {
    color: var(--title-font-color);
    text-decoration: none;
}

.container-fluid  .container .my-card-home .container-card .my-card-pages li {
    background-color: var(--colorCardsBG);
    margin-top: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container-fluid  .container .my-card-home .container-card .my-card-hobbies {
    margin-top: 10px;
}

.container-fluid  .container .my-card-home .container-card .my-card-hobbies li {
    background-color: var(--colorCardsBG);
    margin-top: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.container-fluid  .container .my-card-home .container-card .my-card-interests {
    margin-top: 15px;
}

.container-fluid  .container .my-card-home .container-card .my-card-interests li {
    background-color: var(--colorCardsBG);
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ INFORMATIONS CENTER ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-fluid .container .my-content-home{
    background-color: var(--white-background-color);
    width: 592px;
    min-height: 852px;
    border-radius: 16px;
    padding: 20px;
}

.container-fluid .container .my-content-home .text-box {
    padding: 20px;
    width: 100%;
    height: 105px;
    border-radius: 16px 32px;
    border: 2px solid var(--soft-purple-bg-color);
}

.container-fluid .container .my-content-home .text-box p {
    opacity: 0.5;
}

.post-text {
    margin-top: 10px;
    background-color: var(--purple-background-color);
    color: var(--white-background-color);
    float: right;
    margin-bottom: 10px;
}

.container-fluid .container .my-content-home .card {
    border-color: none;
    margin-top: 10px;
}

.container-fluid .container .my-content-home .card .card-body .header-card-post {
    display: flex;
    align-items: center;
}

.container-fluid .container .my-content-home .card .card-body .header-card-post .card-profile {
    border-radius: 100%;
    width: 56px;
    height: 56px;
}

.container-fluid .container .my-content-home .card .card-body .header-card-post h5 {
    padding-left: 10px;
}

.container-fluid .container .my-content-home .card .card-body .header-card-post {
    border-color: none;
}

.container-fluid .container .my-content-home .card  .card-time {
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.card-img-bottom {
    padding-top: 15px;
}

.card {
    background-color: var(--colorCardsBG);
    margin-top: 15px;
    padding-bottom: 15px;
}

.card p {
    padding-top: 15px;
}

.container-fluid .container .my-content-home .loading-text {
    text-align: center;
    opacity: 0.3;
    animation: fadeInOut 2s ease-in-out infinite;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
  
