@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(css-reset.css);

/* Remove efeito dos botoes de my edit */
button.my-edit {
    all: unset;
    background-color: transparent;
    border: none;
}

:root {
    --purple-background-color: rgb(189, 158, 255);
    --soft-purple-bg-color: rgb(212, 192, 255);
    --white-background-color: rgb(253, 254, 255);
  
    --title-font-color: rgb(75, 75, 75);
    --soft-text-color: rgb(180, 174, 174);
  
    --highlight-color: rgb(237, 37, 144);
}

body {
    background-color: var(--purple-background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--title-font-color);
    font-size: 16px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white-background-color);
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.navbar .nav-container {
    margin: 0 auto;
    text-align: center;
    width: 92%;
}

.navbar .nav-link {
    color: var(--title-font-color);
}

.navbar .highlighted {
    font-weight: 600;
    color: var(--highlight-color);
}

.navbar .form-control {
    width: 355px;
    background-color: var(--soft-purple-bg-color);
    box-shadow: none;
}

.navbar .form-control:focus {
    outline: 2px solid var(--highlight-color);
}

.navbar .nav-item .dropdown-toggle  {
    display: flex;
    align-items: center;
    color: var(--highlight-color);
    border-radius: 5px;
}

.navbar .nav-item .dropdown-toggle  img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

.navbar .nav-item .dropdown-menu {
    border-radius: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ MAIN SETTINGS : ALL CONTAINERS ~~~~~~~~~~~~~~~~~~~~~~~ */

.container-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-fluid .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ MY CARDS: LEFT  ~~~~~~~~~~~~~~~~~~~~~~~ */

.container-fluid  .container .my-card {
    background-color: var(--white-background-color);
    width: 280px;
    height: 324px;
    border-radius: 16px;
    padding-top: 30px;
    text-align: center;
}

.container-fluid  .container .my-card img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.container-fluid  .container .my-card h2{
    color: var(--title-font-color);
    font: 500;
    margin-top: 10px;
    font-size: 24px;
}

.container-fluid  .container .my-card p{
    color: var(--title-font-color);
    font-weight: 400;
    margin-top: 5px;
    font-size: 18px;
}

.container-fluid .container .my-edit {
    background-color: var(--white-background-color);
    width: 280px;
    height: 56px;
    margin-top: 20px;
    border-radius: 16px;
    text-align: center;
}

.container-fluid .container .my-edit a {
    color: var(--highlight-color);
    font-weight: 500;
    font-weight: 18px;
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ MY PROFILE : INFORMATIONS CENTER ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-fluid .container .my-profile {
    background-color: var(--white-background-color);
    width: 592px;
    height: 852px;
    border-radius: 16px;
    padding: 20px;
}

.container-fluid .container .my-profile h1 {
    font-weight: 500;
    font-size: 26px;
}

.container-fluid .container .my-profile .box-status-text{
    margin-top: 20px;
    width: 100%;
    text-align: left;
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: var(--soft-purple-bg-color);
    border-radius: 5px;
  }
  
.container-fluid .container .my-profile .box-status-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent var(--soft-purple-bg-color)transparent transparent;
}

.container-fluid .container .my-profile .box-status {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.container-fluid .container .my-profile .box-status .status {
    margin-right: 40px;
    margin-top: 15px;
}

.container-fluid .container .my-profile .box-status .status img {
    margin-top: 10px;
    margin-right: 3px;
}

.container-fluid .container .my-profile .container-profile .my-profile-text h5{
    margin-top: 30px;
    display: inline-block;
    color: var(--soft-text-color);
    font-size: 16px;
    margin-right: 5px;
}

.container-fluid .container .my-profile .container-profile .my-profile-text p{
    display: inline-block;
    font-size: 16px;
}

.container-fluid .container .my-profile .container-hobbies .my-profile-hobbie h5{
    margin-top: 30px;
    display: inline-block;
    color: var(--soft-text-color);
    font-size: 16px;
    margin-right: 5px;
}

.container-fluid .container .my-profile .container-hobbies .my-profile-hobbie p {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    border: 1px solid var(--highlight-color);
    border-radius: 30px;
    padding: 8px;
}

.container-fluid .container .my-profile .container-hobbies .my-profile-hobbie h6 {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    color: var(--highlight-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ FRIENDS: RIGHT ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-fluid .container .my-friends {
    background-color: var(--white-background-color);
    Width: 280px;
    Height: 411px;
    border-radius: 16px;
    padding: 20px;
}

.container-fluid .container .my-friends .header-friends {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .container .my-friends .header-friends h1 {
    font-size: 18px;
}

.container-fluid .container .my-friends .header-friends h6 {
    font-size: 18px;
    color: var(--highlight-color);
}

.container-fluid .container .my-friends .container-friends {
    margin-top: 25px;
    margin-bottom: 20px;
}

.container-fluid .container .my-friends .container-friends .div-friend {
    display: inline-block;
    margin: 10px;
    height: 81px;
    text-align: center;
}

.container-fluid .container .my-friends .container-friends .div-friend img {
    border-radius: 100%;
    width: 56px;
    height: 56px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ COMMUNITY: RIGHT ~~~~~~~~~~~~~~~~~~~~~~~ */
.container-fluid .container .my-community {
    background-color: var(--white-background-color);
    Width: 280px;
    Height: 411px;
    margin-top: 30px;
    border-radius: 16px;
    padding: 20px;
}

.container-fluid .container .my-community .header-community {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .container .my-community .header-community h1 {
    font-size: 18px;
}

.container-fluid .container .my-community .header-community h6 {
    font-size: 18px;
    color: var(--highlight-color);
}

.container-fluid .container .my-community .container-community {
    margin-top: 25px;
    margin-bottom: 20px;
}

.container-fluid .container .my-community .container-community .div-community {
    display: inline-block;
    margin: 10px;
    height: 81px;
    text-align: center;
}

.container-fluid .container .my-community .container-community .div-community img {
    border-radius: 20%;
    width: 56px;
    height: 56px;
}


@media (max-width: 500px) {
    .container-fluid {
      background-color: blue;
    }
  }