<footer class="footer-fluid">
    <div class="footer-container">
        <div class="left">
            <p>{{title}} | {{copyright}} por {{developer}}</p>
        </div>
        <div class="right">
            <ul>
                <li *ngFor="let social of redesSociais">
                    <a href="{{social.link}}" target="_blank">
                        <img src="{{social.icone}}" alt="{{social.nome}}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
