@import '../../styles.scss';

footer {
  list-style-type: none;
  background-color: $color-goodsecondary;
  color: $color-white;
}

.footer-container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 5px;
}

.left {
  padding-top: 15px;
}

ul {
    list-style-type: none;
  
    li {
     font-size: $font-big;
     display: inline-block;
     margin-left: 8px;
      img {
        filter: invert(100%);
      }
    }
  }
