//@import url(../app.component.scss); Endereço absoluto - externo
@import "../header/header.component.scss";

.container {
    display: block;
    width: 80%;
    margin: 0 auto;

    #imoveis-favoritos, #lista-imoveis {
        min-height: 60vh;
        h1 {
            font-family: $font-style-primary;
            font-size: $font-big;
            margin-left: 10px;
        }
        h2 {
            font-family: $font-style-primary;
            font-size: $font-big;
            font-weight: bold;
            margin-left: 10px;
        }
        mat-grid-tile {
            background-color: $color-white;
            mat-card {
                margin: 10px;
                background-color: $color-white;
                box-shadow: $card-shadow_soft;
                transition: $card-transition;
                &:hover {
                    box-shadow: $card-shadow-hover;
                }
                img {
                    width: 325px;
                    height: 250px;
                }

                mat-card-content {
                    h3 {
                        font-family: $font-style-primary;
                        font-size: $font-big;
                        padding-top: 15px;
                        font-weight: bold;
                    }
                    ul {
                        padding-top: 0px;
                        padding-left: 0px;
                        padding-bottom: 20px;
                        list-style: none;
                        li {
                            font-family: $font-style-secondary;
                        }
                    }
                }

                mat-card-actions {
                    .button_styled {
                        margin: 0 auto;
                        align-items: center;
                        background-color: $color-white;
                        border: 2px solid $color-black;
                        box-sizing: border-box;
                        color: $color-black;
                        cursor: pointer;
                        display: inline-flex;
                        fill: $color-black;
                        font-family: Inter,sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        height: 48px;
                        justify-content: center;
                        letter-spacing: -.8px;
                        line-height: 24px;
                        min-width: 240px;
                        outline: 0;
                        padding: 0 17px;
                        text-align: center;
                        text-decoration: none;
                        transition: all .3s;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                    }
                    
                    .button_styled:focus {
                        color: $color-black;
                    }
                    
                    .button_styled:hover {
                        border-color: $color-secondary;
                        color: $color-black;
                        fill: $color-secondary;
                    }
                    
                    .button_styled:active {
                        border-color: $color-secondary;
                        color: $color-black;
                        fill: $color-secondary;
                    }
                }
            }
        }
    }
}
  
  @media (min-width: 768px) {
    .button_styled {
      min-width: 170px;
    }
  }