<div class="container">
    <h1>Olá, {{nome + " " + sobrenome}}</h1>
    <section id="imoveis-favoritos">
        <h2>Confira os seus imoveis favoritos: </h2>
        <mat-grid-list cols="3" rowHeight="3:5">
            <div  *ngFor="let imovel of imoveis; let i = index">
                <mat-grid-tile> <!--  *ngIf="imovel.quartos >= 2" -->
                    <mat-card>
                        <img mat-card-image src="{{imovel.foto}}" alt="Photo of my house">
                        <mat-card-content>
                        <h3>{{imovel.titulo}}</h3>
                            <ul>
                                <li>Quartos: {{imovel.quartos}}</li>
                                <li>Banheiros: {{imovel.banheiros}}</li>
                                <li>Metragem: {{imovel.area}}m²</li>
                                <li>Preço: R${{imovel.preco}}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                             <button mat-button (click)="toggleFavorito(i)">Favoritos</button>
                            <button mat-button (click)="verDetalhes(imovel.id)" class="button_styled">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>                  
                </mat-grid-tile>
            </div>
        </mat-grid-list>  
    
    </section>
    <section id="lista-imoveis">
        <h2>Imoveis disponiveis:</h2>
        <mat-grid-list cols="3" rowHeight="3:5"> <!-- width:height-->
            <mat-grid-tile *ngFor="let imovel of imoveis; let i = index"><!-- ngFor - faça uma repitação de imovel dentro do meu array imoveis : se colocar dentro do html, voce cria varias vzs aquele componente-->
                <mat-card>
                    <img mat-card-image src="{{imovel.foto}}" alt="Photo of my house">
                    <mat-card-content>
                        <h3>{{imovel.titulo}}</h3>
                        <ul>
                            <li>Quartos: {{imovel.quartos}}</li>
                            <li>Banheiros: {{imovel.banheiros}}</li>
                            <li>Metragem: {{imovel.area}}m²</li>
                            <li>Preço: R${{imovel.preco}}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="toggleFavorito(i)">Favoritos</button>
                        <button mat-button (click)="verDetalhes(imovel.id)" class="button_styled">Mais detalhes</button>
                    </mat-card-actions>
                </mat-card>                  
            </mat-grid-tile>
        </mat-grid-list>        
    </section>
</div>