/* ~~~~~~~~~~~~~~~~ BOX SETTINGS ~~~~~~~~~~~~~~~~ */
.container-fluid  .container-left-profile {
    width: 100%;
    padding: 0 !important;
}

.container-fluid .container-left-profile .my-card {
    background-color: var(--white-background-color);
    width: 100%;
    height: 324px;
    border-radius: 16px;
    margin-bottom: 15px;
}

.container-fluid .container-left-profile .my-edit-btn {
    background-color: var(--white-background-color);
    width: 100%;
    height: 70px;
    border-radius: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-fluid  .container-right-profile {
    background-color: var(--white-background-color);
    width: 100%;
    height: 852px;
    border-radius: 16px;
}

@media (max-width: 800px) {
    .container-left-profile,
    .container-right-profile {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
  