<div class="container">
    <h1>Olá {{ nome }}!<br>Confira aqui os seus imóveis favoritos:</h1>
    <mat-grid-list cols="3" rowHeight="3:4.1">
        <div *ngFor="let imovel of imoveis">
            <mat-grid-tile *ngIf="imovel.favorito">
                <mat-card>
                    <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                    <mat-card-content>
                        <h2>{{ imovel.titulo }}</h2>
                        <ul>
                            <li>Quartos: {{ imovel.quartos }}</li>
                            <li>Banheiros: {{ imovel.banheiros }}</li>
                            <li>Metragem: {{ imovel.area }} m²</li>
                            <li>Preço: {{ imovel.preco | currency }}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button
                            [class]="(imovel.favorito === false ? 'favorite' : 'favorite-checked')"
                            [title]="(imovel.favorito === false ? 'Adicionar aos Favoritos' : 'Remover dos favoritos')"
                            (click)="toggleFavorito(imovel.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                        </button>
                        <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button> 
                    </mat-card-actions>
                </mat-card>              
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <h1>Todos os imóveis:</h1>
    <mat-grid-list cols="3" rowHeight="3:4.1">
        <mat-grid-tile *ngFor="let imovel of imoveis">
            <mat-card>
                <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                <mat-card-content>
                    <h2>{{ imovel.titulo }}</h2>
                    <ul>
                        <li>Quartos: {{ imovel.quartos }}</li>
                        <li>Banheiros: {{ imovel.banheiros }}</li>
                        <li>Metragem: {{ imovel.area }} m²</li>
                        <li>Preço: {{ imovel.preco | currency }}</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        [class]="(imovel.favorito === false ? 'favorite' : 'favorite-checked')"
                        [title]="(imovel.favorito === false ? 'Adicionar aos Favoritos' : 'Remover dos favoritos')"
                        (click)="toggleFavorito(imovel.id)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon>
                    </button>
                    <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button> 
                </mat-card-actions>
            </mat-card>              
        </mat-grid-tile>
    </mat-grid-list>
</div>
  
