<div class="container">
    <div class="row">
        <div class="main-new col-lg-8 col-12">
            <div class="main-new-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros tellus, malesuada et velit in, blandit molestie dolor.</p>
                <div class="image">
                    <img src="https://htmlcolorcodes.com/assets/images/colors/pastel-purple-color-solid-background-1920x1080.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
