@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(css-reset.css);

/* Hide Input Number Arrows : Forms*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --purple: #655DBB;
    --purple-dark: rgb(84, 76, 170);
    --gray: #ede4fd;
    --white: #FFF;
    --white-soft: #e0d0fc;
  
    --title: #313131;
    --text: #B6B6B6;
    
    --linear: linear-gradient(90deg, #655DBB 0%, #BFACE2 100%);
  }

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray);
  font-size: 18px;
}

header {
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
    background: var(--linear);
    text-align: center;
}

header h1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 70px;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-fluid .container {
  margin-top: 20px;
  margin-left: 20px;
  background-color: var(--white);
  width: 295px;
  height: 395px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  position: relative;
}

.container-fluid .container h1 {
  font-size: 20px;
  font-weight: bold;
}

.container-fluid .container img {
  width: 100px;
  height: 100px;
}

.container-fluid .container .body-form {
  position: absolute;
  bottom: 72px; 
  margin-top: 20px; 
}

.container-fluid .container .body-form form input{
  width: 175px;
  margin-top: 2px;
  padding: 5px;
}

.container-fluid .container .body-form form .button_type{
  background: transparent;
  border-style: solid black;
  margin-top: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.container-fluid .container .body-form form .button_type:hover{
  background: #977cd2;
  cursor: pointer;
  width: 180px;
  font-weight: bold;
  color: var(--white);
}

.container-fluid .container .result-form {
  font-size: 16px;
  background-color: #e0d0fc;
  border-radius: 10px;
  padding: 5px;
  width: 175px;
  position: absolute;
  bottom: 15px;
  margin-top: 20px; 
}

footer {
  margin-top: 10px;
  text-align: center;
}
