@import '../app.component.scss';
@import '../../styles.scss';

.container {
    width: 78%;
    display: block;
    margin: auto;
    min-height: calc(100vh - 175px);
    padding-bottom: 30px;
    h2 {
        padding: 40px 0px 30px 0;
        font-family: $font-style-primary;
    }
    .product-details {
        display: flex;
        gap: 30px;
        img {
            width: 100%;
            border-radius: 5px;
        }
        .product-description {
            width: 100%;
            p {
                font-family: $font-style-secondary;
            }
        }
    }

}