@import url('resetCss.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('../rscs/fonts/Roboto/Roboto-Black.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Italic.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Light.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-LightItalic.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-MediumItalic.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-Thin.ttf') format('ttf');
    src: url('../rscs/fonts/Roboto/Roboto-ThinItalic.ttf') format('ttf');
  }

:root {
    --COLOR_WHITE: rgb(255, 255, 255);
    --COLOR_GREEN: rgb(103, 230, 89);
    --COLOR_SOFTBLUE: rgb(91, 228, 214);
    --COLOR_SOFTPURPLE: rgb(196, 187, 211);
    --COLOR_DARKPURPLE: rgb(84, 59, 128);

    --STANDARD_FONTSIZE: 18px;
    --TITLE_FONTSIZE: 25px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--STANDARD_FONTSIZE);
    background: rgb(255,255,255);
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: var(--TITLE_FONTSIZE);
    color: var(--TITLE_COLOR);
    text-align: center;
    font-family: 'Lobster', cursive;
}

.sub-title {
    text-align: center;
}

img {
    width: 100px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

/* Footer : Socials */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
    background: var(--COLOR_SOFTBLUE);
    color: var(--COLOR_WHITE);
}

.fa-instagram
{
    background: var(--COLOR_DARKPURPLE);
    color: var(--COLOR_WHITE);
}

.fa-whatsapp
{
    background:  var(--COLOR_GREEN);
    color: var(--COLOR_WHITE);
}