<div class="container" *ngIf="imovel !== undefined">
    <h2>{{ imovel.titulo }}</h2>
    <section class="product-details">
        <img [src]="imovel.foto" alt="Foto de  {{imovel.titulo}}" />
        <div class="product-description">
            <h3>{{imovel.titulo}}</h3>
            <p>{{imovel.descricao1}}</p>
            <p>{{imovel.descricao2}}</p>
            <p class="warning">Nota: A disponibilidade e o preço estão sujeitos a alterações. Entre em contato conosco para mais informações e agendamento de visitas.</p>
            <h3>Características do imóvel:</h3>
            <ul>
                <li>Quartos: {{ imovel.quartos }}</li>
                <li>Banheiros: {{ imovel.banheiros }}</li>
                <li>Área construída: {{ imovel.area }}m²</li>
                <li>Preço: {{ imovel.preco | currency }}</li>
            </ul>
        </div>
    </section>

    <app-favoritos></app-favoritos>
    
</div>
