@import url('resetCss.css');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

@font-face {
	font-family: 'Roboto';
	src: url('../rscs/fonts/Roboto/Roboto-Black.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Light.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
	src: url('../rscs/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

:root {
	--COLOR_WHITE: rgb(255, 255, 255);
	--COLOR_GREEN: rgb(103, 230, 89);
	--COLOR_SOFTBLUE: rgb(91, 228, 214);
	--COLOR_SOFTPURPLE: rgb(196, 187, 211);
	--COLOR_MEDIUMPURPLE: #8289F3;
	--COLOR_DARKPURPLE: rgb(84, 59, 128);
	--linear: linear-gradient(90deg, #8289F3 0%, #75B7F2 100%);

	--STANDARD_FONTSIZE: 18px;
	--TITLE_FONTSIZE: 25px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: var(--STANDARD_FONTSIZE);
	background: rgb(255,255,255);
}

/* Cupom - Container */
.cupom {
	margin: 0;
}

.letter-cupom {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/* Header : Logo */
.header_container-fluid {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	width: 100%;
	height: 40px;
	background: var(--linear);
}

.header-container {
	position: relative;
	width: 100px;
	height: 200px;
}

.image-logo {
	position: absolute;
	width: 100px;
	top: 40px;
	transition: opacity 0.5s ease;
}
  
.overlay {
  opacity: 0;
  transition: opacity 0.5s ease;
}
  
.header-container:hover .overlay {
	opacity: 1;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2%;
}

.logo-text {
	font-family: 'Mina', sans-serif;
	color: var(--COLOR_WHITE);
	font-size: 20px;
	font-weight: bold;
}

/*  --------------- SECTION CARD CONTENT ---------------  */
#middle-content {
	min-height: 80vh;
}

.card {
	margin-top: 5%;
	margin-right: 1%;
}

.card img {
	padding-top: 10px;
    width: 250px;
    height:  250px;
    max-height: 250px;
}

.button {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background-color: #7AA8F3;
  color: var(--COLOR_WHITE);
  user-select: none;
  font-weight: bold;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button  span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  font-weight: bold;
}

.button span:last-child {
  color: var(--COLOR_WHITE);
  font-weight: bold;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--COLOR_DARKPURPLE);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
  font-weight: bold;
}

.button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
  font-weight: bold;
}

.button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  font-weight: bold;
}

.button-content {
	margin-top: 30px;
}

/*  --------------- FOOTER : SOCIALS ---------------  */
footer {
  text-align: center;
  background: var(--linear);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.fa {
	padding: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: var(--COLOR_SOFTBLUE);
  color: var(--COLOR_WHITE);
}

.fa-instagram {
  background: #75B7F2;
  color: var(--COLOR_WHITE);
}

.fa-whatsapp {
  background: var(--COLOR_GREEN);
  color: var(--COLOR_WHITE);
}
